<div class="medium-card__container">

  <img
    src="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
    alt="Placeholder" class="medium-card__img">

  <div class="medium-card__content__container">
    <h3 class="medium-card__title">Time to Get Your House Clean and in Order</h3>
    <p class="medium-card__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's text of the printing and typesetting industry.</p>
    <a class="medium-card__button" href="#">Read Article</a>
  </div>

