.container__menu-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px;
}

.menu-card__button > a {
  border-radius: 5px;
  border: solid #8447fa 1px;

  color: #0e1162;
  text-decoration: none;
  font-size: 0.6rem;
  text-align: center;

  width: 80px;
  padding: 6px 10px;

  margin-left: -1px;
  margin-top: 15px;
}

.menu-card__button:hover > a  {
  background-color: #8447fa;
  color: #fff;
}
