<app-banner bannerPhoto="http://localhost:4200/assets/images/banner.jpg"
  bannerTitle="Titulo inserido via componente pai" bannerDescription="Descrição inserida via componente pai" newsId="1">
</app-banner>

<div class="cards__container">

  <div class="medium-cards">
    <app-medium-card
      photoCover="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título inputado pela page" cardDescription="Descrição inputada pela page" newsId="1"></app-medium-card>
    <app-medium-card
      photoCover="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título inputado pela page" cardDescription="Descrição inputada pela page" newsId="2"></app-medium-card>
    <app-medium-card
      photoCover="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título inputado pela page" cardDescription="Descrição inputada pela page"  newsId="3"></app-medium-card>
    <app-medium-card
      photoCover="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título inputado pela page" cardDescription="Descrição inputada pela page"  newsId="4"></app-medium-card>
    <app-medium-card
      photoCover="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título inputado pela page" cardDescription="Descrição inputada pela page"  newsId="5"></app-medium-card>

  </div>

  <div class="text-cards">
    <app-text-card cardTitle="Título criado pelo componente pai"
      cardDescription="Descrição criada pelo elemento pai"></app-text-card>
    <app-text-card cardTitle="Título criado pelo componente pai"
      cardDescription="Descrição criada pelo elemento pai"></app-text-card>
    <app-text-card cardTitle="Título criado pelo componente pai"
      cardDescription="Descrição criada pelo elemento pai"></app-text-card>

  </div>
</div>

<div class="cards__others">

  <div class="small-cards">
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="1"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="2"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="3"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="4"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="5"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="6"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="7"></app-small-card>
    <app-small-card
      cardImage="https://img.freepik.com/premium-vector/photo-icon-picture-icon-image-sign-symbol-vector-illustration_64749-4409.jpg"
      cardTitle="Título criado pelo elemento pai" cardDescription="Descrição criada pelo elemento pai" newsId="8"></app-small-card>

  </div>

</div>
