<app-banner></app-banner>

<div class="cards__container">

  <div class="medium-cards">
    <app-medium-card></app-medium-card>
    <app-medium-card></app-medium-card>
  </div>

  <div class="text-cards">
    <app-text-card></app-text-card>
    <app-text-card></app-text-card>
    <app-text-card></app-text-card>
  </div>
</div>

<div class="cards__others">

  <div class="menu-card">
    <app-menu-card></app-menu-card>
  </div>

  <div class="small-cards">
    <app-small-card></app-small-card>
  </div>

</div>
